
body {
    min-height: 100vh;
    margin: 0;
    font-family: 'mukta',sans-serif;
    background-color: azure;
}
h1{
    text-align: center;
}

.post-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 293px));
    justify-content: center;
    grid-gap: 28px;
}
.post {
    cursor: pointer;
    position: relative;
    display: block;
}
.post-image {
    margin: 0;
}
.post-image img {
    width: 100%;
    vertical-align: top;
}
.post-overlay {
    background: rgba(0,0,0, .4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.post:hover{
    display: flex;
    transform: scale(1.1);
    transition: all .3s;
    box-shadow: 10px 10px 15px rgb(13, 13, 13);
}
.post:hover .post-overlay{
     display: flex;
     justify-content: center;
}

.contact-info,
.address {
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: block;
    color: azure;
}

footer {
padding: 2em;
position:absolute;
left: 43%;
bottom: 10px;
}